In [1]:
from collections import defaultdict
import json
import re

from bs4 import BeautifulSoup
import pandas as pd
from requests import Session

In [2]:
s = Session()
headers = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) '\
                         'AppleWebKit/537.36 (KHTML, like Gecko) '\
                         'Chrome/75.0.3770.80 Safari/537.36',
          'Content-Type': 'application/json;charset=UTF-8'}
# Add headers
s.headers.update(headers)

In [3]:
URL = 'https://www.autouncle.dk/en/cars_search?page=100'

In [4]:
r = s.get(URL)

In [5]:
r.ok

True

In [6]:
r

In [7]:
soup = BeautifulSoup(r.content,'lxml')

In [11]:
# div class='data', get data-featured-caousels --> list of dict
response_data = soup.find('div',{'data-featured-carousels':re.compile('.*')})

In [12]:
data = json.loads(response_data['data-featured-carousels'])

In [13]:
pd.DataFrame(data[0]['data']['cars']).head()

,au_rating,co2_emission,distance_to_car,energy_consumption,formatted_price,fuel_economy,headline,id,image_url,is_featured,...,link_target_blank,location_complete,missing_image_fallback,price,price_difference_formatted,rating_label,redirect_url,source_name,valuation_label,valuation_value
0,3,None,None,None,"DKK 464,000",17.5 Km/l,"VW Tiguan 2,0 TDI SCR Highline 4Motion DSG 190...",2857462,https://images.autouncle.com/da/car_images/med...,True,...,True,"4760 Vordingborg, Sjælland",False,464000,"Save DKK 10,000",Fair price,/en/outgoing_link/carsten-jensen-biler-dk/2857...,Carsten-jensen-biler.dk,Valuation,"DKK 474,000"
1,3,None,None,None,"DKK 459,900",21.3 Km/l,"BMW X2 2,0 xDrive20d aut.",2857862,https://images.autouncle.com/da/car_images/med...,True,...,True,"8210 Aarhus, Midtjylland",False,459900,"Save DKK 1,900",Fair price,/en/outgoing_link/bayern-autogroup-aarhus/2857...,Bayern AutoGroup Aarhus,Valuation,"DKK 458,000"
2,3,None,None,None,"DKK 459,900",16.4 Km/l,"BMW X2 2,0 xDrive20i aut.",2887980,https://images.autouncle.com/da/car_images/med...,True,...,True,"8210 Aarhus, Midtjylland",False,459900,"Save DKK 5,900",Fair price,/en/outgoing_link/bayern-autogroup-aarhus/2887...,Bayern AutoGroup Aarhus,Valuation,"DKK 454,000"
3,4,None,None,None,"DKK 459,900",22.7 Km/l,"Mercedes C220 d 2,0 AMG Line aut.",2885820,https://images.autouncle.com/da/car_images/med...,True,...,True,"7100 Vejle, Syddanmark",False,459900,"Save DKK 27,100",Good price,/en/outgoing_link/starmark-vejle/2885820/50605...,Starmark Vejle,Valuation,"DKK 487,000"
4,4,None,None,None,"DKK 459,900",22.7 Km/l,"Mercedes C220 d 2,0 AMG Line aut.",2892785,https://images.autouncle.com/da/car_images/med...,True,...,True,"7100 Vejle, Syddanmark",False,459900,"Save DKK 30,100",Good price,/en/outgoing_link/starmark-vejle/2892785/50692...,Starmark Vejle,Valuation,"DKK 490,000"

In [14]:
items = soup.find_all('div',class_='listing-item')

In [15]:
items[0]

<div class="listing-item" data-car-id="2840724" data-preload-fb-comments="false" itemscope="" itemtype="http://schema.org/Product">
<div class="listing-item-container">
<div class="listing-item-car-information">
<div class="car-picture">
<span class="car-name-label"><span class="car-freshness-label car-freshness-label--reduced">-16%</span></span>
<meta content="https://images.autouncle.com/da/car_images/1266ca84-e63d-442a-8fb8-b707e3034fdd_hyundai-i30-1-6-crdi-comfort-90hk-5d.jpg" itemprop="image"/>
<span class="picture-count-indicator">
1/4
</span>
<img alt="used Hyundai i30 1,6 CRDi Comfort 90HK 5d" data-image-url="https://images.autouncle.com/da/car_images/medium_1266ca84-e63d-442a-8fb8-b707e3034fdd_hyundai-i30-1-6-crdi-comfort-90hk-5d.jpg" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs="/><noscript><img alt="used Hyundai i30 1,6 CRDi Comfort 90HK 5d" lazyload="true" src="https://images.autouncle.com/da/car_images/medium_1266ca84-e63d-442a-8fb8-b707e3034fdd_hyundai-i30-1-6-crdi-comfort-90hk-5d.jpg"/></noscript>
</div>
<div class="listing-item-car-details">
<div class="listing-item-car-details-headline-wrapper">
<h3>
<a href="/en/d/2840724-hyundai-i30-used" itemprop="url"><span itemprop="name"><b itemprop="brand">Hyundai</b><span itemprop="model"> i30 1,6 CRDi Comfort 90HK 5d</span></span></a>
<meta content="Used" itemprop="itemcondition" itemtype="http://schema.org/UsedCondition"/>
</h3>
<div class="icons-wrapper">
<div class="favourite">
<a class="fav_icon active_click js-ignore-item-toggle remove fav_button" data-car-id="2840724" data-remote="true" href="/en/apps/2840724/toggle_favourite"></a> <a class="fav_icon active_click js-ignore-item-toggle add active fav_button" data-car-id="2840724" data-remote="true" href="/en/apps/2840724/toggle_favourite"></a><div class="fav_loader loader" data-car-id="2840724"><img alt="" src="https://assets.autouncle.com/assets/ajax-loader_transparent_small-19bd1a97fffdbd0d065c60d11df063a89f3f4bf5df389fc27cf3c75fbbb1b139.gif"/></div>
</div>
</div>
</div>
<ul class="car-specifications">
<li class="car-specification year">
<span>2008</span>
</li>
<li class="car-specification km">
<span>
246,000
<span class="unit">km</span>
</span>
</li>
<li class="car-specification engine">
<span>
1.6 Diesel (90 hp) 21.3 Km/l
</span>
</li>
<li class="car-specification location">
<span>
<img alt="Geolocation icon" height="12" src="https://assets.autouncle.com/assets/icons/geolocation_icon-b8823a731087b93c20bb0a14d1173dfa6072ff941c5c3408e33ccb39413d36e5.svg" width="12"/>
Dealer, 4690, Sjælland
</span>
<div class="distance-to-search-location"></div>
</li>
</ul>
</div>
</div>
<div class="listing-item-pricing">
<div class="valuation-and-pricing-container">
<div class="score-label-light--wrapper"><span class="score-label-light--label value4">Good price</span><div class="au-rating-score-flat size83px value4"></div></div>
<div class="price-difference-text value4">
<span class="label">Save</span>
<span class="value">DKK 6,000</span>
</div>
<div class="price-container" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
<span class="price" content="25000" itemprop="price">
DKK 25,000
</span>
<span class="should-cost">
<span>It should cost</span>
<span>DKK 31,000</span>
</span>
<meta content="DKK" itemprop="priceCurrency"/>
</div>
</div>
<div class="car-source-cta">
<span>
See more details
<i class="arrow">›</i>
</span>
</div>
</div>
</div>
</div>

In [16]:
store = defaultdict(list)

In [17]:
for item in items:
    store['car'].append(item.find('img')['alt'])
    store['cost'].append(item.find('span', class_='price')['content'])
    store['should_cost'].append(item.find('span', class_='should-cost').find_all('span')[-1].get_text(strip=True))
    [store[i['class'][-1]].append(i.span.get_text(strip=True))  for i in item.find_all('li')]

In [18]:
pd.DataFrame(store)

,car,cost,should_cost,year,km,engine,location
0,"used Hyundai i30 1,6 CRDi Comfort 90HK 5d",25000,"DKK 31,000",2008,"246,000km",1.6 Diesel (90 hp) 21.3 Km/l,"Dealer, 4690, Sjælland"
1,"used Dacia Logan 0,9 TCe 90 Laureate MCV",79900,"DKK 90,000",2014,"92,000km",0.9 Petrol (90 hp) 20.0 Km/l,"Dealer, 8930 Randers NØ, Midtjylland"
2,"used Mazda 6 2,0 Touring 147HK Stc 6g",22000,"DKK 31,000",2005,"220,000km",2.0 Petrol (147 hp) 12.5 Km/l,"Private seller, 8670, Midtjylland"
3,"used Skoda Octavia 1,2 TSI Family 105HK 5d",104900,"DKK 120,000",2012,"87,000km",1.2 Petrol (105 hp) 17.5 Km/l,"Dealer, 6500, Syddanmark"
4,"used Kia cee'd SW 1,6 CRDI Style Plus Clim 136...",164900,"DKK 176,000",2016,"47,000km",1.6 Diesel (136 hp) 25.6 Km/l,"Dealer, 8960, Midtjylland"
5,"used Ford Ka 1,2 Trend Plus 69HK 3d",34800,"DKK 41,000",2011,"68,000km",1.2 Petrol (69 hp) 19.6 Km/l,"Dealer, 4760, Sjælland"
6,"used Ford S-MAX 2,0 TDCi Titanium 180HK 6g - P...",329900,"DKK 352,000",2016,"11,000km",2.0 Diesel (180 hp) 20.0 Km/l,"Dealer, 7160 Tørring, Midtjylland"
7,"used Mitsubishi ASX 1,6 Invite 2WD 117HK 5d",139900,"DKK 151,000",2015,"63,000km",1.6 Petrol (117 hp) 17.2 Km/l,"Dealer, 2605, Hovedstaden"
8,"used Toyota Avensis 1,8 SD MAN.",47600,"DKK 59,000",2006,"146,000km",1.8 Petrol (129 hp) 13.9 Km/l,"Private seller, 5250 Odense SV, Syddanmark"
9,,90000,"DKK 100,000",2011,"213,500km",1.6 Diesel (105 hp) 22.7 Km/l,"Private seller, 6780 Skærbæk, Syddanmark"
10,used Audi A3 Sportback TDi 150 Ambiente S-tr.,155000,"DKK 165,000",2013,"199,000km",2.0 Diesel (150 hp),"Dealer, 8920 Randers, Midtjylland"
11,"used Mercedes E220 2,2 CDI BlueEfficiency 170H...",176500,"DKK 192,000",2012,"358,000km",2.2 Diesel (170 hp) 18.9 Km/l,"Private seller, 8800, Midtjylland"
12,"used Audi A4 1,6 101HK",10999,"DKK 16,000",1998,"306,000km",1.6 Petrol (101 hp) 12.5 Km/l,"Private seller, 5220, Syddanmark"
13,"used BMW 118 118i i 5-dørs hatchback 1,6",178500,"DKK 189,000",2012,"157,000km",1.6 Petrol (170 hp) 17.2 Km/l,"Private seller, 6230, Syddanmark"
14,"used Peugeot 308 1,2 VTi Access 82HK 5d",119900,"DKK 129,000",2014,"30,551km",1.2 Petrol (82 hp) 20.0 Km/l,"Dealer, 2610, Hovedstaden"
15,,134900,"DKK 151,000",2017,"55,000km",1.5 Electric/Hybrid (100 hp),"Dealer, 4300, Sjælland"
16,"used Renault Captur 1,5 DCI Intens 90HK 5d",157795,"DKK 169,000",2018,"20,000km",1.5 Diesel (90 hp) 27.0 Km/l,"Dealer, 7000, Syddanmark"
17,"used Opel Insignia 1,6 CDTI Edition 136HK 5d 6g",174990,"DKK 190,000",2016,"84,000km",1.6 Diesel (136 hp) 26.3 Km/l,"Dealer, 8240, Midtjylland"
18,"used Nissan Qashqai 1,2 Dig-T Tekna 4x2 115HK ...",219900,"DKK 237,000",2016,"30,000km",1.2 Petrol (115 hp) 17.9 Km/l,"Dealer, 5210, Syddanmark"
19,"used Peugeot 107 1,0 5-D 68 HK",34950,"DKK 41,000",2012,"86,940km",1.0 Petrol (68 hp) 23.3 Km/l,"Private seller, 5450 Otterup, Syddanmark"
20,"used Fiat 500 0,9 TwinAir 85 Plus",39999,"DKK 50,000",2012,"133,000km",0.9 Petrol (85 hp) 25.0 Km/l,"Dealer, 5260 Odense S, Syddanmark"
21,"used Audi A6 3,0 TDI S Tronic 218HK 7g Aut.",419800,"DKK 441,000",2016,"39,000km",3.0 Diesel (218 hp) 23.3 Km/l,"Dealer, 6760, Syddanmark"
22,"used Opel Karl 1,0 75HK 5 dørs",91300,"DKK 105,000",2017,"12,000km",1.0 Petrol (75 hp) 24.4 Km/l,"Private seller, 8900 Randers C, Midtjylland"
23,"used Toyota Aygo 1,0 VVT-I X-pression 69HK 5d",74900,"DKK 87,000",2017,"26,191km",1.0 Petrol (69 hp) 26.0 Km/l,"Dealer, 9670, Nordjylland"

In [ ]:
#How to stop
soup.find('div',{'id':'pagination'}).find_all('span')[-1]['class']