In [1]:
from collections import defaultdict

from bs4 import BeautifulSoup
import pandas as pd
from requests import Session

In [2]:
session = Session()

In [3]:
session.headers = {'User-Agent': 
                   'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36'\
                   '(KHTML, like Gecko) Chrome/75.0.3770.80 Safari/537.36'}

In [4]:
URL = 'https://www.autouncle.dk/en/cars_search'

In [5]:
store = defaultdict(list)

In [6]:
def get_cars(page_nr=1):
    
    stop = False
    while not stop:
        print(f'Get Data from page {page_nr}')
        params = {'page':page_nr}
        r = session.get(URL, params=params)
        soup = BeautifulSoup(r.content,'lxml')
        items = soup.find_all('div',class_='listing-item')
        for item in items:
            store['car'].append(item.find('img')['alt'])
            store['cost'].append(item.find('span', class_='price')['content'])
            store['should_cost'].append(item.find('span', class_='should-cost').find_all('span')[-1].get_text(strip=True))
            [store[i['class'][-1]].append(i.span.get_text(strip=True))  for i in item.find_all('li')]
    
        # next is disabled when no more page
        stop = 'disabled' in soup.find('div',{'id':'pagination'}).find_all('span')[-1]['class']
        page_nr += 1
    print('Data Collection Completed')
    return store

In [7]:
_ = get_cars()

Get Data from page 1
Get Data from page 2
Get Data from page 3
Get Data from page 4
Get Data from page 5
Get Data from page 6
Get Data from page 7
Get Data from page 8
Get Data from page 9
Get Data from page 10
Get Data from page 11
Get Data from page 12
Get Data from page 13
Get Data from page 14
Get Data from page 15
Get Data from page 16
Get Data from page 17
Get Data from page 18
Get Data from page 19
Get Data from page 20
Get Data from page 21
Get Data from page 22
Get Data from page 23
Get Data from page 24
Get Data from page 25
Get Data from page 26
Get Data from page 27
Get Data from page 28
Get Data from page 29
Get Data from page 30
Get Data from page 31
Get Data from page 32
Get Data from page 33
Get Data from page 34
Get Data from page 35
Get Data from page 36
Get Data from page 37
Get Data from page 38
Get Data from page 39
Get Data from page 40
Get Data from page 41
Get Data from page 42
Get Data from page 43
Get Data from page 44
Get Data from page 45
Get Data from page 46
Get Data from page 47
Get Data from page 48
Get Data from page 49
Get Data from page 50
Get Data from page 51
Get Data from page 52
Get Data from page 53
Get Data from page 54
Get Data from page 55
Get Data from page 56
Get Data from page 57
Get Data from page 58
Get Data from page 59
Get Data from page 60
Get Data from page 61
Get Data from page 62
Get Data from page 63
Get Data from page 64
Get Data from page 65
Get Data from page 66
Get Data from page 67
Get Data from page 68
Get Data from page 69
Get Data from page 70
Get Data from page 71
Get Data from page 72
Get Data from page 73
Get Data from page 74
Get Data from page 75
Get Data from page 76
Get Data from page 77
Get Data from page 78
Get Data from page 79
Get Data from page 80
Get Data from page 81
Get Data from page 82
Get Data from page 83
Get Data from page 84
Get Data from page 85
Get Data from page 86
Get Data from page 87
Get Data from page 88
Get Data from page 89
Get Data from page 90
Get Data from page 91
Get Data from page 92
Get Data from page 93
Get Data from page 94
Get Data from page 95
Get Data from page 96
Get Data from page 97
Get Data from page 98
Get Data from page 99
Get Data from page 100
Data Collection Completed

In [8]:
df = pd.DataFrame(store)

In [9]:
df.to_pickle('car_data.pkl')

In [10]:
df

,car,cost,should_cost,year,km,engine,location
0,,229900,"DKK 267,000",2013,"159,000km",2.0 Diesel (184 hp) 21.3 Km/l,"Dealer, 9000 Aalborg, Nordjylland"
1,"used BMW 220 Gran Tourer d 2,0 Advantage aut.",269900,"DKK 296,000",2016,"80,000km",2.0 Diesel (190 hp) 22.7 Km/l,"Dealer, 6000 Kolding, Syddanmark"
2,"used BMW 530 e 2,0 iPerformance aut.",569900,"DKK 622,000",2018,"5,000km",2.0 Petrol (252 hp) 30.0 Km/l,"Dealer, 8210 Aarhus, Midtjylland"
3,used BMW i3 aut.,159900,"DKK 195,000",2016,"24,000km",Electric (170 hp),"Dealer, 8210 Aarhus, Midtjylland"
4,"used Toyota C-HR 1,8 B/EL Limited Multidrive S...",244900,"DKK 278,000",2018,"12,000km",1.8 Electric/Hybrid (122 hp),"Dealer, 2610 RÃ¸dovre, Hovedstaden"
5,"used VW Passat 2,0 TSI Highline DSG 220HK 6g Aut.",329900,"DKK 359,000",2015,"58,000km",2.0 Petrol (220 hp) 16.1 Km/l,"Dealer, 6100 Haderslev, Syddanmark"
6,"used Toyota Auris Touring Sports 1,6 D-4D T2 C...",194900,"DKK 226,000",2017,"13,000km",1.6 Diesel (112 hp) 23.8 Km/l,"Dealer, 3520, Hovedstaden"
7,"used BMW 520 d 2,0 Touring aut.",269900,"DKK 306,000",2013,"102,000km",2.0 Diesel (184 hp) 20.4 Km/l,"Dealer, 8210 Aarhus, Midtjylland"
8,"used BMW X3 2,0 xDrive20d aut.",499900,"DKK 536,000",2017,"45,000km",2.0 Diesel (190 hp) 19.2 Km/l,"Dealer, 5260 Odense S, Syddanmark"
9,"used BMW 530 d 3,0 Touring aut.",579900,"DKK 627,000",2018,"15,000km",3.0 Diesel (265 hp) 21.3 Km/l,"Dealer, 9000 Aalborg, Nordjylland"
10,"used BMW 530 d 3,0 Touring aut.",569900,"DKK 628,000",2018,"15,000km",3.0 Diesel (265 hp) 21.3 Km/l,"Dealer, 9000 Aalborg, Nordjylland"
11,"used Toyota C-HR 1,8 B/EL C-ENTER Multidrive S...",229900,"DKK 255,000",2016,"25,000km",1.8 Electric/Hybrid (122 hp),"Dealer, 6400 SÃ¸nderborg, Syddanmark"
12,"used BMW 320 d 2,0 aut.",339800,"DKK 375,000",2018,"28,000km",2.0 Diesel (190 hp) 25.0 Km/l,"Dealer, 9000 Aalborg, Nordjylland"
13,"used Toyota RAV4 2,0 D-4D T3 Safety Sense 4x2 ...",249900,"DKK 292,000",2016,"99,000km",2.0 Diesel (143 hp) 21.3 Km/l,"Dealer, 6100 Haderslev, Syddanmark"
14,"used Audi Q5 2,0 TDi 177 quattro S-tr.",464900,"DKK 509,000",2013,"67,000km",2.0 Diesel (177 hp) 16.4 Km/l,"Dealer, 6800 Varde, Syddanmark"
15,"used BMW 116 d 2,0 aut.",209900,"DKK 250,000",2013,"55,000km",2.0 Diesel (116 hp) 22.2 Km/l,"Dealer, 6715 Esbjerg N, Syddanmark"
16,"used Toyota Auris Touring Sports 1,6 D-4D T2 C...",189900,"DKK 215,000",2017,"39,000km",1.6 Diesel (112 hp) 23.8 Km/l,"Dealer, 6100, Syddanmark"
17,"used BMW X2 2,0 sDrive20i aut.",499900,"DKK 535,000",2018,"12,000km",2.0 Petrol (192 hp) 18.2 Km/l,"Dealer, 8210 Aarhus, Midtjylland"
18,"used BMW X1 2,0 sDrive20d aut.",339900,"DKK 390,000",2018,"19,000km",2.0 Diesel (190 hp) 22.2 Km/l,"Dealer, 5260 Odense S, Syddanmark"
19,used BMW i3 aut.,179000,"DKK 201,000",2015,"71,000km",Electric (170 hp),"Dealer, 4540 FÃ¥revejle, SjÃ¦lland"
20,"used Mercedes E350 3,0 Avantgarde aut.",599900,"DKK 641,000",2018,"16,000km",3.0 Diesel (258 hp) 18.2 Km/l,"Dealer, 7100 Vejle, Syddanmark"
21,"used Mercedes E350 3,0 Avantgarde stc. aut.",579900,"DKK 632,000",2018,"34,000km",3.0 Diesel (258 hp) 18.2 Km/l,"Dealer, 7100 Vejle, Syddanmark"
22,"used VW Tiguan 2,0 TDi 140 Track & Field 4M",184900,"DKK 208,000",2010,"68,000km",2.0 Diesel (140 hp) 15.6 Km/l,"Dealer, 8600 Silkeborg, Midtjylland"
23,"used Saab 9-3 1,8 t Linear Sport Sedan aut.",59500,"DKK 86,000",2005,"265,000km",1.8 Petrol (150 hp) 10.9 Km/l,"Dealer, 4540 FÃ¥revejle, SjÃ¦lland"
24,,309900,"DKK 343,000",2015,"79,000km",2.2 Diesel (177 hp) 23.8 Km/l,"Dealer, 7100 Vejle, Syddanmark"
25,"used Mitsubishi Space Star 1,2 Intense CVT",77800,"DKK 95,000",2015,"38,000km",1.2 Petrol (80 hp) 22.7 Km/l,"Dealer, 3460 BirkerÃ¸d, Hovedstaden"
26,"used BMW 320 d 2,0 M-Sport aut.",279800,"DKK 325,000",2016,"181,000km",2.0 Diesel (190 hp) 22.7 Km/l,"Dealer, 2625 VallensbÃ¦k, Hovedstaden"
27,"used BMW 320 d 2,0 M-Sport aut.",299800,"DKK 336,000",2016,"155,000km",2.0 Diesel (190 hp) 22.7 Km/l,"Dealer, 2625 VallensbÃ¦k, Hovedstaden"
28,"used Volvo V40 CC 2,0 D3 Kinetic 150HK 5d",189800,"DKK 215,000",2016,"93,000km",2.0 Diesel (150 hp) 26.0 Km/l,"Dealer, 8766 Nr. Snede, Midtjylland"
29,"used VW Golf VII 1,4 GTE DSG",234900,"DKK 270,000",2015,"61,000km",1.4 Petrol (204 hp) 36.4 Km/l,"Dealer, 2750 Ballerup, Hovedstaden"
...,...,...,...,...,...,...,...
2370,"used Chevrolet Spark 1,0 LS 68HK 5d",39900,"DKK 49,000",2014,"69,000km",1.0 Petrol (68 hp) 20.0 Km/l,"Dealer, 2605, Hovedstaden"
2371,"used Toyota Avensis 1,6 VVT-i T2 stc.",109500,"DKK 119,000",2010,"105,000km",1.6 Petrol (132 hp) 15.4 Km/l,"Dealer, 4800 NykÃ¸bing F, SjÃ¦lland"
2372,used Mazda CX-5 2.0 160 HK Optimum,169995,"DKK 189,000",2012,"148,000km",2.0 Petrol (160 hp) 15.6 Km/l,"Private seller, 4390 VipperÃ¸d, SjÃ¦lland"
2373,"used VW Passat 1,4 TSI AUT.",160000,"DKK 177,000",2012,"110,000km",1.4 Petrol (122 hp) 16.7 Km/l,"Private seller, 2770 Kastrup, Hovedstaden"
2374,"used VW Jetta 1,6 TDI",95900,"DKK 105,000",2011,"226,000km",1.6 Diesel (105 hp) 23.8 Km/l,"Private seller, 5900 rudkÃ¸bing, Syddanmark"
2375,"used Opel Mokka 1,6 CDTi 136 Enjoy",159900,"DKK 171,000",2015,"90,000km",1.6 Diesel (136 hp) 24.4 Km/l,"Dealer, 3660 StenlÃ¸se, Hovedstaden"
2376,"used Hyundai i30 1,6 CRDi Comfort 90HK 5d",25000,"DKK 31,000",2008,"246,000km",1.6 Diesel (90 hp) 21.3 Km/l,"Dealer, 4690, SjÃ¦lland"
2377,"used Dacia Logan 0,9 TCe 90 Laureate MCV",79900,"DKK 90,000",2014,"92,000km",0.9 Petrol (90 hp) 20.0 Km/l,"Dealer, 8930 Randers NÃ, Midtjylland"
2378,"used Mazda 6 2,0 Touring 147HK Stc 6g",22000,"DKK 31,000",2005,"220,000km",2.0 Petrol (147 hp) 12.5 Km/l,"Private seller, 8670, Midtjylland"
2379,"used Skoda Octavia 1,2 TSI Family 105HK 5d",104900,"DKK 120,000",2012,"87,000km",1.2 Petrol (105 hp) 17.5 Km/l,"Dealer, 6500, Syddanmark"
2380,"used Kia cee'd SW 1,6 CRDI Style Plus Clim 136...",164900,"DKK 176,000",2016,"47,000km",1.6 Diesel (136 hp) 25.6 Km/l,"Dealer, 8960, Midtjylland"
2381,"used Ford Ka 1,2 Trend Plus 69HK 3d",34800,"DKK 41,000",2011,"68,000km",1.2 Petrol (69 hp) 19.6 Km/l,"Dealer, 4760, SjÃ¦lland"
2382,"used Ford S-MAX 2,0 TDCi Titanium 180HK 6g - P...",329900,"DKK 352,000",2016,"11,000km",2.0 Diesel (180 hp) 20.0 Km/l,"Dealer, 7160 TÃ¸rring, Midtjylland"
2383,"used Mitsubishi ASX 1,6 Invite 2WD 117HK 5d",139900,"DKK 151,000",2015,"63,000km",1.6 Petrol (117 hp) 17.2 Km/l,"Dealer, 2605, Hovedstaden"
2384,"used Toyota Avensis 1,8 SD MAN.",47600,"DKK 59,000",2006,"146,000km",1.8 Petrol (129 hp) 13.9 Km/l,"Private seller, 5250 Odense SV, Syddanmark"
2385,,90000,"DKK 100,000",2011,"213,500km",1.6 Diesel (105 hp) 22.7 Km/l,"Private seller, 6780 SkÃ¦rbÃ¦k, Syddanmark"
2386,used Audi A3 Sportback TDi 150 Ambiente S-tr.,155000,"DKK 165,000",2013,"199,000km",2.0 Diesel (150 hp),"Dealer, 8920 Randers, Midtjylland"
2387,"used Mercedes E220 2,2 CDI BlueEfficiency 170H...",176500,"DKK 192,000",2012,"358,000km",2.2 Diesel (170 hp) 18.9 Km/l,"Private seller, 8800, Midtjylland"
2388,"used Audi A4 1,6 101HK",10999,"DKK 16,000",1998,"306,000km",1.6 Petrol (101 hp) 12.5 Km/l,"Private seller, 5220, Syddanmark"
2389,"used BMW 118 118i i 5-dÃ¸rs hatchback 1,6",178500,"DKK 189,000",2012,"157,000km",1.6 Petrol (170 hp) 17.2 Km/l,"Private seller, 6230, Syddanmark"
2390,"used Peugeot 308 1,2 VTi Access 82HK 5d",119900,"DKK 129,000",2014,"30,551km",1.2 Petrol (82 hp) 20.0 Km/l,"Dealer, 2610, Hovedstaden"
2391,,134900,"DKK 151,000",2017,"55,000km",1.5 Electric/Hybrid (100 hp),"Dealer, 4300, SjÃ¦lland"
2392,"used Renault Captur 1,5 DCI Intens 90HK 5d",157795,"DKK 169,000",2018,"20,000km",1.5 Diesel (90 hp) 27.0 Km/l,"Dealer, 7000, Syddanmark"
2393,"used Opel Insignia 1,6 CDTI Edition 136HK 5d 6g",174990,"DKK 190,000",2016,"84,000km",1.6 Diesel (136 hp) 26.3 Km/l,"Dealer, 8240, Midtjylland"
2394,"used Nissan Qashqai 1,2 Dig-T Tekna 4x2 115HK ...",219900,"DKK 237,000",2016,"30,000km",1.2 Petrol (115 hp) 17.9 Km/l,"Dealer, 5210, Syddanmark"
2395,"used Peugeot 107 1,0 5-D 68 HK",34950,"DKK 41,000",2012,"86,940km",1.0 Petrol (68 hp) 23.3 Km/l,"Private seller, 5450 Otterup, Syddanmark"
2396,"used Fiat 500 0,9 TwinAir 85 Plus",39999,"DKK 50,000",2012,"133,000km",0.9 Petrol (85 hp) 25.0 Km/l,"Dealer, 5260 Odense S, Syddanmark"
2397,"used Audi A6 3,0 TDI S Tronic 218HK 7g Aut.",419800,"DKK 441,000",2016,"39,000km",3.0 Diesel (218 hp) 23.3 Km/l,"Dealer, 6760, Syddanmark"
2398,"used Opel Karl 1,0 75HK 5 dÃ¸rs",91300,"DKK 105,000",2017,"12,000km",1.0 Petrol (75 hp) 24.4 Km/l,"Private seller, 8900 Randers C, Midtjylland"
2399,"used Toyota Aygo 1,0 VVT-I X-pression 69HK 5d",74900,"DKK 87,000",2017,"26,191km",1.0 Petrol (69 hp) 26.0 Km/l,"Dealer, 9670, Nordjylland"

In [11]:
df.columns

Index(['car', 'cost', 'should_cost', 'year', 'km', 'engine', 'location'], dtype='object')

In [12]:
df['car'].nunique()

1852

In [13]:
df[df['location'].apply(lambda x: '2650' in x)]

,car,cost,should_cost,year,km,engine,location
256,used Mercedes C200 d Sedan 7G-TRONIC PLUS,345800,"DKK 375,000",2018,"29,780km",2.1 Diesel (136 hp) 23.3 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
446,"used Suzuki Grand Vitara 2,0 GLX",87500,"DKK 106,000",2007,"99,500km",2.0 Petrol (140 hp) 11.0 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
534,"used Toyota Avensis 2,0 STW D-4D DPF",48000,"DKK 62,000",2007,"205,000km",2.0 Diesel (126 hp) 16.9 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
558,"used Toyota Avensis 2,0 STW D-4D DPF 2,0",49000,"DKK 63,000",2008,"205,000km",2.0 Diesel (126 hp) 16.9 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
1155,"used Toyota Avensis 2,0 Sol stc.",50000,"DKK 62,000",2006,"171,000km",2.0 Petrol (150 hp) 12.3 Km/l,"Dealer, 2650 Hvidovre, Hovedstaden"
1585,used Toyota Yaris 1.3 99 HK T2,75000,"DKK 86,000",2012,"97,000km",1.3 Petrol (99 hp) 18.0 Km/l,"Private seller, 2650 hvidovre, Hovedstaden"
1615,"used Opel Corsa 1,3CDTi 5-dÃ¸rs",91900,"DKK 101,000",2015,"87,000km",1.3 Diesel (95 hp) 30.3 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
1639,"used CitroÃ«n DS3 1,6 e-HDi 90 Style",66900,"DKK 76,000",2011,"90,000km",1.6 Diesel (92 hp) 27.8 Km/l,"Dealer, 2650 Hvidovre, Hovedstaden"
1873,"used Opel Zafira 1,8 16V 140 Enjoy 7prs",59900,"DKK 72,000",2006,"131,000km",1.8 Petrol (140 hp) 12.8 Km/l,"Dealer, 2650 Hvidovre, Hovedstaden"
1885,used Audi A3 Sportback 2.0 TDI 140 HK 4-DÃRS,124800,"DKK 134,000",2013,"145,600km",2.0 Diesel (140 hp) 22.7 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
1902,"used CitroÃ«n DS3 1,2 VTi 82 Design",69900,"DKK 77,000",2013,"110,000km",1.2 Petrol (82 hp) 22.2 Km/l,"Dealer, 2650 Hvidovre, Hovedstaden"
2155,"used Ford Mondeo 2,0",16200,"DKK 20,000",2002,"190,214km",2.0 Petrol (145 hp) 12.5 Km/l,"Private seller, 2650 hvidovre, Hovedstaden"
2176,"used CitroÃ«n C4 1,6 HDi 92 Seduction",69900,"DKK 80,000",2012,"108,000km",1.6 Diesel (92 hp) 23.8 Km/l,"Dealer, 2650 Hvidovre, Hovedstaden"
2243,used Opel Corsa 1.3 95 HK Sport,93200,"DKK 102,000",2015,"85,000km",1.3 Diesel (95 hp) 30.3 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"

In [14]:
df[df['location'].str.find('2650')!=-1]

,car,cost,should_cost,year,km,engine,location
256,used Mercedes C200 d Sedan 7G-TRONIC PLUS,345800,"DKK 375,000",2018,"29,780km",2.1 Diesel (136 hp) 23.3 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
446,"used Suzuki Grand Vitara 2,0 GLX",87500,"DKK 106,000",2007,"99,500km",2.0 Petrol (140 hp) 11.0 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
534,"used Toyota Avensis 2,0 STW D-4D DPF",48000,"DKK 62,000",2007,"205,000km",2.0 Diesel (126 hp) 16.9 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
558,"used Toyota Avensis 2,0 STW D-4D DPF 2,0",49000,"DKK 63,000",2008,"205,000km",2.0 Diesel (126 hp) 16.9 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
1155,"used Toyota Avensis 2,0 Sol stc.",50000,"DKK 62,000",2006,"171,000km",2.0 Petrol (150 hp) 12.3 Km/l,"Dealer, 2650 Hvidovre, Hovedstaden"
1585,used Toyota Yaris 1.3 99 HK T2,75000,"DKK 86,000",2012,"97,000km",1.3 Petrol (99 hp) 18.0 Km/l,"Private seller, 2650 hvidovre, Hovedstaden"
1615,"used Opel Corsa 1,3CDTi 5-dÃ¸rs",91900,"DKK 101,000",2015,"87,000km",1.3 Diesel (95 hp) 30.3 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
1639,"used CitroÃ«n DS3 1,6 e-HDi 90 Style",66900,"DKK 76,000",2011,"90,000km",1.6 Diesel (92 hp) 27.8 Km/l,"Dealer, 2650 Hvidovre, Hovedstaden"
1873,"used Opel Zafira 1,8 16V 140 Enjoy 7prs",59900,"DKK 72,000",2006,"131,000km",1.8 Petrol (140 hp) 12.8 Km/l,"Dealer, 2650 Hvidovre, Hovedstaden"
1885,used Audi A3 Sportback 2.0 TDI 140 HK 4-DÃRS,124800,"DKK 134,000",2013,"145,600km",2.0 Diesel (140 hp) 22.7 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"
1902,"used CitroÃ«n DS3 1,2 VTi 82 Design",69900,"DKK 77,000",2013,"110,000km",1.2 Petrol (82 hp) 22.2 Km/l,"Dealer, 2650 Hvidovre, Hovedstaden"
2155,"used Ford Mondeo 2,0",16200,"DKK 20,000",2002,"190,214km",2.0 Petrol (145 hp) 12.5 Km/l,"Private seller, 2650 hvidovre, Hovedstaden"
2176,"used CitroÃ«n C4 1,6 HDi 92 Seduction",69900,"DKK 80,000",2012,"108,000km",1.6 Diesel (92 hp) 23.8 Km/l,"Dealer, 2650 Hvidovre, Hovedstaden"
2243,used Opel Corsa 1.3 95 HK Sport,93200,"DKK 102,000",2015,"85,000km",1.3 Diesel (95 hp) 30.3 Km/l,"Private seller, 2650 Hvidovre, Hovedstaden"